* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #43a564;
}

.snare-pad {
  background: #246e91;
}

.hihat-pad {
  background: #a77032;
}

.kick-pad.active {
  background: #3dff7e;
}

.snare-pad.active {
  background: #00aeff;
}

.hihat-pad.active {
  background: #fd8700;
}

.sequencer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls button {
  padding: 1rem;
  margin: 1rem;
  border: none;
  background: #494949;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.controls select {
  padding: 1rem;
  font-size: 1rem;
}

.pad {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mute.active {
  background: #adaaaa;
}

.play {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  background: #494949;
  color: white;
  border: none;
  border-radius: 1.6rem;
  cursor: pointer;
  margin-top: 3rem;
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo input {
  padding: 0.2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: #494949;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: white;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
  color: #646464;
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
}

@-webkit-keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */